# Your Discord token. There are a lot of tutorials on how to 
# get one, so we won't cover it here
JUSTBOT_TOKEN=YOUR_DISCORD_TOKEN

# Your Google Gemini API key used for AI. You can get it here:
#   https://aistudio.google.com/api-keys
JUSTBOT_GEMINI_API_KEY=AIxxxxxxxx
